{% extends "base.html" %}

{% block content %}

			<div class="row adjust">
			 <div class="col-xs-4 col-xs-offset-2">
			   <p class="subhead"> DATA COMPARISON </p>
			 </div>
		   <div class="col-xs-4 right center-xs">
		   <div class="dropdown">
			<span class="button">SCHOOL YEAR</span>
			<div class="dropdown-content">
			  <a href="index.html"><p>2016</p></a>
			  <a href="#"><p>2015</p></a>
			  <a href="#"><p>2014</p></a>
			  <a href="#"><p>2013</p></a>
			  <a href="#"><p>2012</p></a>
			  <a href="#"><p>2011</p></a>
			  <a href="#"><p>2010</p></a>
			  <a href="#"><p>2009</p></a>
			 </div>
		</div>
	</div>
</div>
<div class="row spacing">
	<div class="col-xs-8 col-xs-offset-2">

	   <table class="tg">
		 <tr>
		   <th class="tg-yw49 toprow" style="vertical-align:bottom;"><br>2016</th>
       {% for object in schools %}
		   <th class="tg-yw4l toprow" style="vertical-align:bottom;"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></th>
       {% endfor %}
		 </tr>
		 <tr>
		   <td class="tg-4aks">Graduation Rates<br></td>
		   <td class="tg-yw4l">data</td>
		   <td class="tg-yw4l">data</td>
		   <td class="tg-yw4l">data</td>
		   <td class="tg-yw4l">data</td>
		   <td class="tg-yw4l">data</td>
		   <td class="tg-yw4l">data</td>
		 </tr>
		 <tr>
		   <td class="tg-4aks">Reading Scores<br></td>
			 {% for object in reading_scores %}
		   <td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
			 {% endfor %}
		 </tr>
		 <tr>
 			<td class="tg-4aks">Math Scores<br></td>
 			{% for object in math_scores %}
 			<td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
 			{% endfor %}
 		</tr>
		<tr>
			<td class="tg-4aks">Science Scores<br></td>
			{% for object in science_scores %}
			<td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
			{% endfor %}
		</tr>
		<tr>
			<td class="tg-4aks">Writing Scores<br></td>
			{% for object in writing_scores %}
			<td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
			{% endfor %}
		</tr>
		<tr>
			<td class="tg-4aks">Special Ed<br></td>
			{% for object in specialed %}
			<td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
			{% endfor %}
		</tr>
		<tr>
		 <td class="tg-4aks">Gifted<br></td>
		 {% for object in gifted %}
		 <td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
		 {% endfor %}
	 </tr>
	 <tr>
		 <td class="tg-4aks">Free and Reduced Lunch<br></td>
		 {% for object in frlunch %}
		 <td class="tg-yw4l">{{ object.meeting }}%</td><br></td>
		 {% endfor %}
	 </tr>
	   </table>
	</div>
</div>
<div class="row spacing gray">
	<div class="col-xs-8 col-xs-offset-2">
		<p class="subhead center-xs">GRADUATION RATES</p><br/>
			<img src="img/Graph.png">
	</div>
</div>
	<div class="row spacing">
		<div class="col-xs-8 col-xs-offset-2">
			<p class="subhead center-xs">DISTRICT MAP</p><br/>
			<img src="img/districtmap.png">
		</div>
	 </div>
<div class="row spacing">
	<div class="col-xs-8 col-xs-offset-2 center-xs">
		<a href="news.html"><p class="button">NEWS &#187;</p></a>
	</div>
</div>
{% endblock %}
