{% extends 'base.html' %}

{% block content %}

<div class="row spacing">
	<div class="col-xs-10 col-xs-offset-2">
		<p class="subhead">{{ school.name }}</p>
	</div>
</div>

<div class="row bottom-spacing">
	<div class="col-xs-4 col-xs-offset-2">
		<img src="{% if school.photo %}{{ school.photo.url }}{% else %}{% endif %}">
	</div>
	<div class="col-xs-5">
		<h2>General</h2>
		<p class="no_space_between_lines">Address: {{ school.address }}</p>
		<p class="no_space_between_lines">Enrollment: {% for object in enrollment %}{{ object.total_enrollment }}{% endfor %}</p>
		<h4 class="button button-spacing"><a href="#">WEBSITE</a></h4>
	</div>
</div>


<!-- INDIVIDUAL SCHOOL DATA TABLE -->
<div class="row spacing gray center-xs">
	<div class="col-xs-8 col-xs-offset-2 center-xs">

		<table class="tg individual_school_data_table" style="undefined;table-layout: fixed; width: 726px">
<colgroup>
<col style="width: 101px">
<col style="width: 162px">
<col style="width: 127px">
<col style="width: 84px">
<col style="width: 115px">
<col style="width: 137px">
<col style="width: 137px">
<col style="width: 137px">
</colgroup>
  <tr>
    <th class="tg-1a3d" colspan="6"><a href="#">&lt;</a>  2016  <a href="#">&gt;</a></th>
  </tr>
  <tr>
    <td class="tg-s6z2">SCHOOL</td>
    <td class="tg-s6z2">READING SCORES</td>
		<td class="tg-s6z2">MATH SCORES</td>
		<td class="tg-s6z2">SCIENCE SCORES</td>
		<td class="tg-s6z2">WRITING SCORES</td>
    <td class="tg-s6z2">GIFTED</td>
    <td class="tg-s6z2">SPECIAL ED</td>
    <td class="tg-s6z2">FREE AND REDUCED LUNCH</td>
  </tr>
  <tr>
    <td class="tg-s6z2">{{ school.name }}</td>
    <td class="tg-s6z2">{% for object in reading_score %}{{ object.meeting }}{% endfor %}</td>
    <td class="tg-s6z2">{% for object in math_score %}{{ object.meeting }}{% endfor %}</td>
    <td class="tg-s6z2">{% for object in science_score %}{{ object.meeting }}{% endfor %}</td>
    <td class="tg-s6z2">{% for object in writing_score %}{{ object.meeting }}{% endfor %}</td>
    <td class="tg-s6z2">{% for object in stats %}{{ object.gifted }}{% endfor %}</td>
		<td class="tg-s6z2">{% for object in stats %}{{ object.specialed }}{% endfor %}</td>
		<td class="tg-s6z2">{% for object in stats %}{{ object.frlunch }}{% endfor %}</td>
  </tr>
</table>

	</div>
</div>


<div class="row spacing">
	<div class="col-xs-8 col-xs-offset-2 center-xs">

		<img src="img/districtmap.png">
	</div>
</div>

<div class="row spacing">
	<div class="col-xs-10 col-xs-offset-2">
		<p class="subhead">NEWS</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">

		<img class="map" src="/static/img/districtoffice.png" />
	</div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2 spacing">
		<h2>DISTRICT OFFICE PLANS TO...</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>





<div class="row spacing">
	 	<div class="col-xs-8 col-xs-offset-2 center-xs">
			<a href="news.html"><p class="button">NEWS &#187;</p></a>
		</div>
</div>


{% endblock %}
